<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist maker</title>
    <link rel="stylesheet" href="/css/songs/current-songs.css">
    <link rel="stylesheet" href="/css/songs/playlist.css">
    <link rel="stylesheet" href="/css/svg.css">
    <link rel="stylesheet" href="/css/go-back-form.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>

<body>
    <div class="background_image">
    </div>
    <div class="go-back-form">
        <div class="back-btn-container">
            <button class="back-btn-svg" onclick="history.back()" ></button>
        </div>
    </div>
    <div class="main-container">
        <div class="playlist-container">
            <h2>Old playlist</h2>
            
            <div class="scroll-table-container" >
                <div class="scroll-table-head">
                    <div class="scroll-table-row">
                        <p>#</p>
                        <p>Track</p>
                    </div>
                </div>
                <div class="scroll-table-body">
                    <% songs.forEach((song, i)=> { %>
                        <div class="scroll-table-row">
                            <p><%= i + 1 %></p>
                            <p><%= song %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        
        <form class="text-container" method="POST" action="/check-songs">
            <h2>Enter new list here</h2>
            <input type="hidden"  name="folder" value=<%= folder %> >
            <div class="songs-text-container">
                <textarea class="songs-text" name="songs-text" id="songs" rows="20" cols="100"></textarea>
            </div>
            <div class="check-btn-container">
                <button class="check-btn">CHECK</button>
            </div>
        </form>
    </div>
</body>
</html>