<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist maker</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/svg.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="background_image">
    </div>
    <div class="main-container">
        <div class="folders-container" >
            <% folders.forEach(f => { %>
                <form action="/songs" method="GET" class="folder-wraper">
                    <div class="folder-svg"></div>
                    <div class="folder-text-container">
                        <p class="folder-text"><%= f %></p>
                    </div>
                    <button class="submit-btn"></button>
                </form>
            <% }) %>
            <% otherTypes.forEach(f => { %>
                <div class="folder-wraper">
                    <div class="file-svg"></div>
                    <div class="folder-text-container">
                        <p class="folder-text"><%= f %></p>
                    </div>
                    <!-- <button class="submit-btn"></button> -->
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>