.folder-svg {
    margin-left: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../svg/icons8-folder-48.svg');
}

.file-svg {
    margin-left: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../svg/icons8-file.svg');
}