body {
    padding: 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.background_image {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url('../../images/FL1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 300px;
}

.album-name {
    display: flex;
    justify-content: center;
    background-color: rgba(50, 199, 157, 0.712);
}

.submit-btn, 
.discard-btn {
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.submit-btn {
    /* width: 200px; */

    background-size: 200% 100%;
    background-image: linear-gradient(to left, #27ae60 50%, #05c46b 50%);
    -webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
    transition: background-position 0.3s;
}
.submit-btn:hover {
    background-position: -100% 0%;

}

.discard-btn {
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #df1a37 50%, #f53b57 50%);
    -webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
    transition: background-position 0.3s;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.discard-btn:hover {
    background-position: -100% 0%;
}

.btns-container {
    margin-top: 20px;
    display: flex;
}

.btns-container form,
.btns-container div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.btns-container form:nth-child(1) {
    margin-right: 200px;
}